.sidebar{
    display: flex;
    width: auto;
    flex-direction: row;
    border-top: 1px solid #c5c4c460;
    height:auto;
    min-height: 100vh;
}
.sidebarDisabled{
    display: flex;
    width: 300px;
    flex-direction: row;
    height: 100vh;
}
.sidebar span{
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.left{
    background-color: #fff;
    display: flex;
    width: 75px;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    
}
.left img{
    margin-top: 10px;
    width: 50px;
}
.icon{
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.iconActive{
    cursor: pointer;
    position: relative;
}
.iconActive::after{
    content: "";
    width: 2px;
    height: 110%;
    border-left: 4px solid #365eff;
    position: absolute;
    top: -2px;
    left: -25px
}
.tabActive::after{
    width: 100%;
    height: 2px;
    color:#fff;
    content: "";
    top: 41px;
    left: 0px;
    position: absolute;
    border-bottom: 2px solid #365eff;
}

.tabActive{
    background: #fff;
    font-weight: 500;
    font-size: 16px;
    position: relative;
}